<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178733552651-orsa1l36o733jp7hgemh71r0lb7pjmsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178733552651-orsa1l36o733jp7hgemh71r0lb7pjmsh</string>
	<key>API_KEY</key>
	<string>AIzaSyDchxSmZbjMyhCMBQe6WFTu7uHvD1FQClw</string>
	<key>GCM_SENDER_ID</key>
	<string>178733552651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-f0448</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-f0448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178733552651:ios:0d50ff0c8e7b32f99d230e</string>
</dict>
</plist>